* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
body {
  background-color: rgb(231, 231, 231);
}
.hero {
  background-image: url(beach.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  object-fit: cover;
  height: 650px;
  font-size: 1.1em;
  width: 100%;
}

.hero.toggled {
  height: 940px;
}
nav {
  display: flex;
  max-width: 100%;
  height: fit-content;
}
.logo {
  flex: 1.5;
  padding: 20px;
  padding-left: 0px;
  font-weight: bold;
  color: white;
  letter-spacing: 1px;
}
.hamberger-menu {
  display: none;
  margin-left: 20px;
  margin-top: 20px;
  cursor: pointer;
}
.menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
  background-color: none;
  color: white;
}
.bar {
  display: block;
  width: 100%;
  height: 5px;
  background-color: white;
}
.nav-links {
  flex: 3;
}
.cta {
  flex: 0.8;
  padding-top: 5px;
  position: relative;
  cursor: pointer;
}
.cta-button {
  width: 120px;
  height: fit-content;
  border: 1px solid white;
  border-radius: 20px;
  padding: 12px;
  margin: auto;
  position: absolute;
  right: 2px;
}
.cta-button a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  text-align: center;
  display: block;
  margin: 0px auto;
}
.nav-links {
  padding-top: 20px;
}
.nav-links ul {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
}
.nav-links ul li {
  width: fit-content;
}
.nav-links ul li a {
  text-decoration: none;
  color: white;
}
.hero-wrapper {
  margin: 0px 10%;
}
.hero-title {
  color: white;
  margin-bottom: 30px;
  margin-top: 30px;
}
.hero-title h1 {
  font-size: 5em;
  margin-top: 10px;
}
.hero-title p {
  font-size: 3em;
  margin-top: 5px;
}
.search-wrapper {
  color: white;
}
.search-wrapper p {
  margin-bottom: 20px;
}
.search-bar {
  display: flex;
  height: 50px;
  width: 50vw;
}
.search-bar .name {
  flex: 3;
  border: 0px;
  border-right: 1px solid gray;
  padding: 20px;
}
input::placeholder {
  font-size: 1.2em;
}
select {
  font-size: 0.9em;
  font-weight: lighter;
  background: url(angle_down.png) no-repeat right white;
  -webkit-appearance: none;
  background-size: 13px;
  background-position-x: 90%;
}
.search-bar .city {
  flex: 3;
  border: 0px;
  width: 20vw;
  padding: 10px;
  color: rgb(99, 99, 99);
}
.search {
  background-color: rgb(204, 85, 85);
  border: none;
  padding: 20px;
  text-align: center;
  color: white;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.below-search {
  margin-top: 20px;
  letter-spacing: 1px;
  font-size: 0.9em;
}
.highlights {
  margin-top: 20px;
  height: 50px;
  width: 100%;
  margin-bottom: 20px;
}
.highlight-cards {
  background-color: white;
  width: fit-content;
  display: inline;
  float: left;
  margin-right: 20px;
  margin-top: 10px;
  padding: 10px;
  color: rgb(99, 99, 99);
}
.highlight-cards i {
  margin-right: 10px;
}
.cards {
  margin: 0px 10%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.card {
  text-align: center;
  padding: 10px 30px 10px 30px;
  background-color: white;
  width: 200px;
  transform: translate(0px, -30px);
  margin-bottom: 20px;
}
.card h3 {
  font-size: 1.2em;
  width: 140px;
  margin: 0px auto 20px auto;
  line-height: 1.4;
}
.card p {
  color: grey;
  margin-bottom: 30px;
  line-height: 1.5;
}
.picture {
  font-size: 50px;
  margin-bottom: 20px;
  color: rgb(204, 85, 85);
  margin-top: 10px;
}
@media (max-width: 900px) {
  nav {
    display: flex;
    flex-direction: column;
    position: relative;
  }
  .nav-links {
    display: none;
    font-size: 20px;
  }
  .nav-links.active {
    display: block;
  }
  .nav-links ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .nav-links ul li {
    padding: 10px;
  }
  .hamberger-menu {
    display: block;
    position: absolute;
    top: 0px;
    right: 0px;
  }
  .cta {
    position: absolute;
    top: 3px;
    right: 50px;
    width: 100px;
  }
  select {
    background: white;
  }
}
@media (max-width: 500px) {
  .hero {
    height: 760px;
  }
  .card {
    width: 100%;
    transform: translateY(-50px);
  }
  .highlight-cards {
    margin-top: 10px;
  }
  .main {
    margin-top: 20px;
  }
  .cards {
    display: block;
  }
}
@media (max-width: 1000px) {
  .cards {
    justify-content: space-evenly;
  }
}
@media (min-width: 1000px) {
  .card {
    width: 18vw;
  }
}
